
body {
  background-color: rgb(171, 214, 214);
}

#footer{
  background-color: #edfffc!important;
  margin-top:2rem;
  box-shadow: 2px 2px 20px #ffb5fa;
}

.palmtree {
  width: 50px;
}

.table {
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 2rem;
  width: 80%;
  text-align: center;
  background-color: white;
  box-shadow: 0px 0px 10px rgb(46, 68, 68);
}

.table .thead-light th {
  background-color: rgb(114, 173, 173);
  color: white

}

tr:hover {
  background-color: #daf7f1;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  background-color: #edfffc;
  box-shadow: 0px 2px 20px #ffb5fa;
}

.logo{
  height: 150px;
  length: 60%;
}

#map{
  width: 80%;
  height: 400px;
  background-color: azure;
  margin: 0 auto;
  margin-top: 3rem;
  box-shadow: 0px 0px 10px rgb(46, 68, 68);
}

.pop {
  background-color: white;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  #map{
    width: 100%;
    height: 350px;
  }
  .logo{
  height: 75px;
}

.table {
  width: 100%;
}

.table td, .table th {
  padding: .2rem .5rem;
}

td {
  font-size: .8rem;
}

th {
  font-size: .85rem
}

}


@media only screen and (max-width: 400px) {
  #map{
    width: 100%;
    height: 300px;
  }
}

.pop {
  background-color: white;
  align-items: center;
}

