

.palmtree {
  width: 50px;
}

#map{
  width: 80vw;
  height: 400px;
  background-color: azure;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  #map{
    width: 400px;
    height: 400px;
  }
}

.pop {
  background-color: white;
  align-items: center;
}
